@import '../../../Scss/var';
@import '../../../Scss/mixins';

.notifications__item {
  background: url('../../../public/assets/icons/dropdown-line.png') no-repeat
    bottom;
  background-size: 100% 2px;
  padding-bottom: 10px;

  &:last-child {
    background: none;
    padding: 0;
  }

  &-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    @media (max-width: 950px) {
      font-size: 13px;
    }

    @include mobile {
      font-size: 11px;
    }
  }

  &-link {
    color: $lightGreen !important;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        color: $gold !important;
      }
    }
  }

  &--checked {
    opacity: 0.5;

    .notifications__item-link {
      opacity: 0.5;
    }
  }

  @include mobile {
    padding-bottom: 8px;
  }
}
