@import '../../../Scss/var';

.acc-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 20px 10px 0;

  &__sign-in,
  &__sign-up {
    font-size: 22px;
    font-weight: 700;
    transition: all 0.3s ease;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;

    @media (hover: hover) {
      &:hover {
        color: $white;
        background-color: black;
      }
    }
  }

  &__sign-up {
    border: 2px solid $gold;
    color: $gold;

    @media (hover: hover) {
      &:hover {
        background-color: $gold;
      }
    }
  }

  @media (max-width: 970px) {
    display: none;
  }
}
