@import '../../../Scss/var';

.faction-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  height: 100%;

  &__title {
    color: $lightGreen;
    font-size: 20px;
  }
}
