@import '../../../Scss/var';
@import '../../../Scss/mixins';

.faction-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 100%;
  padding: 15px;

  &__title {
    color: $lightGreen;
    font-size: 20px;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 540px) {
    gap: 0;
  }

  @media (max-width: 490px) {
    padding: 10px 5px 5px 5px;
    margin-bottom: 30px;
  }

  @media (max-width: 470px) {
    margin-bottom: 10px;
  }
}
