@import '../../../Scss/var';
@import '../../../Scss/mixins';

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding: 15px;

  &--suggested {
    grid-template-columns: 1fr 1fr;

    &-add {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--padding-top {
    padding-top: 60px;
  }

  @media (max-width: 1250px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include tablet {
    gap: 15px;
  }

  @media (max-width: 570px) {
    grid-template-columns: 1fr 1fr;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;

  &__link,
  &__prev,
  &__next {
    font-size: 20px;
    font-weight: 500;
    background-color: $lightGreen;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    transition: all 0.3s ease;
    border: 2px solid $gold;

    a {
      color: $white;
      transition: all 0.3s ease;

      &:hover {
        color: $black;
      }
    }

    &:hover {
      background-color: $gold;
      color: $black;
    }
  }

  &__active {
    a {
      background-color: $gold;
      color: $black;
    }
  }

  @include tablet {
    margin-top: 10px;
  }
}
