@import '../../../Scss/var';
@import '../../../Scss/mixins';

.form {
  background-color: $formBackground;
  position: relative;
  width: 45vw;

  &__item {
    padding: 0 30px 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  @include tablet {
    width: 60vw;
  }

  @media (max-width: 530px) {
    width: 90vw;
  }
}
