@import '../../../Scss/var';

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: $darkGray;
  padding: 8px;
  border-radius: 5px;
  width: 90px;

  img {
    height: 35px;
    width: 35px;
    border: 2px solid $gold;
    border-radius: 50%;
    max-height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  p {
    font-size: 15px;
    color: $gold;
    font-weight: 500;
  }
}
