@import '../../../Scss/var';
@import '../../../Scss/mixins';

.toc {
  border: 2px solid $gold;
  padding: 15px;
  background-color: $lightGreen;
  position: relative;
  box-shadow: 0 0 10px $gold;

  &--non-active {
    z-index: -1;
  }

  ol {
    margin: 0;
  }

  &__list {
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    list-style-type: none;
    padding: 15px !important;
    max-height: 200px;
    height: fit-content;
    overflow-y: auto;
    z-index: -1;
    line-height: normal;
    background-color: $lightGreen;
    border: 2px solid $gold;
    border-top: 0;
    box-shadow: 0 0 10px $gold;

    &--active {
      pointer-events: all;
      opacity: 1;
      transition: all 0.3s ease;
      margin-top: 10px;
      z-index: 100;
    }

    &-item {
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 700;

      a {
        transition: all 0.3s ease;
        color: $black !important;
        text-decoration: none;
        word-wrap: break-word;

        &:hover {
          color: $white !important;
        }
      }

      @media (max-width: 1000px) {
        font-size: 14px;
        margin-bottom: 5px;
      }

      @include tablet {
        font-size: 16px;
      }
    }

    &-item:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $gold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &--active {
      border-radius: 5px;
    }

    &-icon {
      width: 35px !important;
      height: 35px !important;
      margin: 0 !important;
      max-height: 100% !important;
      max-width: 100% !important;
      object-fit: fill !important;
    }

    &-text {
      font-size: 23px;
      font-weight: 500;
      display: none;

      &--active {
        display: block;
      }

      @media (min-width: 770px) {
        display: block;
      }
    }

    @include tablet {
      border-radius: 50%;

      &--active {
        border-radius: 5px;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: $white;
      }
    }
  }

  @include tablet {
    padding: 0;
    border: 0;
    border-radius: 50%;

    &--active {
      border: 2px solid $gold;
      border-radius: 0;
      padding: 15px;
    }
  }
}
