@import '../../../Scss/var';
@import '../../../Scss/mixins';

.header {
  margin: 25px 25px 35px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: $lightGreen;
  border: 4px solid $gold;
  box-shadow: inset 20px -10px 20px rgba(4, 76, 50, 0.541);
  height: 70px;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  z-index: 1000;

  &__logo {
    width: 100px;
    height: 100px;

    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  &__menu-btn-box {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    display: none;

    @media (max-width: 1041px) {
      display: block;
    }

    @media (hover: hover) {
      &:hover {
        .header__menu-btn {
          background-color: $gold;

          &:after,
          &:before {
            background-color: $gold;
          }
        }
      }
    }
  }

  &__menu-btn {
    background-color: $white;
    width: 35px;
    height: 4px;
    position: relative;
    transition: all ease 0.3s;

    &:after {
      content: '';
      display: block;

      background-color: $white;
      width: 100%;
      height: 4px;
      position: absolute;
      top: -10px;
      transition: all ease 0.3s;
    }

    &:before {
      content: '';
      display: block;

      background-color: $white;
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -10px;
      transition: all ease 0.3s;
    }
  }

  @media (max-width: 750px) {
    gap: 15px;
  }

  @media (max-width: 450px) {
    height: 50px;
    margin: 15px 0 20px 0;
    border-left: 0;
    border-right: 0;
  }
}

.user {
  position: relative;
  z-index: 1000;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  transition: all 0.3s ease;
  cursor: pointer;

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }

    &-border {
      position: absolute;
      top: -33px;
      left: -33px;
      z-index: 200;
      width: 105px;
      height: 105px;

      @media (max-width: 950px) {
        display: none;
      }
    }

    @media (max-width: 950px) {
      border: 4px solid rgb(143, 143, 2);

      height: 50px;
      box-shadow: 0 0 2px 2px $lightGray inset;
    }
  }

  &__name {
    @media (max-width: 950px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 23px;

    &:after {
      content: '';
      display: block;
      border-left: solid $white 4px;
      border-bottom: solid $white 4px;
      width: 10px;
      height: 10px;
      position: relative;
      left: -5px;
      top: -2px;
      transform: rotate(-45deg);
      transition: all 0.3s ease;
    }

    @media (max-width: 950px) {
      gap: 0;
      position: relative;
      justify-content: center;

      &:after {
        position: absolute;
        z-index: 1000;
        bottom: -4px;
        left: auto;
        top: auto;
        border-left-color: rgb(143, 143, 2);
        border-bottom-color: rgb(143, 143, 2);
      }
    }

    &--active:after {
      top: 2px;
      transform: rotate(134deg);

      @media (max-width: 950px) {
        top: auto;
        transform: rotate(-45deg);
        border-left: solid $gold 4px;
        border-bottom: solid $gold 4px;
      }
    }
  }

  &__logout {
    font-weight: 700;
  }

  &__menu {
    position: absolute;
    z-index: -100;
    top: 100%;
    right: -4px;
    width: 100%;
    padding: 15px 10px 10px 10px;
    background-color: $darkGray;
    color: $gold;
    border: 4px solid $gold;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &--active {
      pointer-events: all;

      opacity: 1;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-item {
        background: url('../../../public/assets/icons/dropdown-line.png')
          no-repeat bottom;
        background-size: 100% 2px;
        white-space: nowrap;
        padding-bottom: 15px;
        transition: all 0.3s ease;

        a,
        button {
          transition: all 0.3s ease;
          color: $gold !important;
          font-size: 20px;

          @include mobile {
            font-size: 18px;
          }
        }

        @include mobile {
          padding-bottom: 10px;
        }

        @media (hover: hover) {
          &:hover {
            a,
            button {
              color: $white !important;
            }
          }
        }
      }

      &-item:last-child {
        background: none;
        padding-bottom: 0;
      }

      @include mobile {
        gap: 5px;
      }
    }

    @media (max-width: 950px) {
      right: auto;
      width: fit-content;
    }
  }

  @media (max-width: 950px) {
    padding: 0;
  }

  @include tablet {
    pointer-events: visible;
  }

  @media (hover: hover) {
    &:hover {
      color: $gold;
    }

    &:hover .user__info:after {
      border-left: solid $gold 4px;
      border-bottom: solid $gold 4px;
    }
  }
}
