@import '../../../Scss/var';

.faction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    background-color: $black;
    padding: 5px;
    border: 0.5px solid $gold;

    &--active {
      background-color: $gold;
    }
  }

  &__tooltip {
    position: absolute;
    bottom: -25px;
    color: $white;
    text-align: center;
    background-color: $lightGreen;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: 700;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    white-space: nowrap;
  }

  &:hover {
    .faction__tooltip {
      opacity: 1;
    }
  }
}
