@import '../../../Scss/var';

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  margin-right: 80px;
  height: 100%;
  transition: all 0.3s ease;

  &--active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    background-color: $lightGreen;
    margin: 0;
    align-items: flex-start;
    padding: 50px 10px 0 10px;
  }

  &__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    color: $white;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    height: 100%;

    &-title {
      display: flex;
      align-items: center;
      gap: 20px;
      transition: all 0.3s ease;
      height: 100%;

      &:hover {
        color: $gold;

        &:after {
          border-left: solid $gold 4px;
          border-bottom: solid $gold 4px;
        }
      }

      &:after {
        transition: all 0.3s ease;
        content: '';
        display: block;
        border-left: solid $white 4px;
        border-bottom: solid $white 4px;
        width: 10px;
        height: 10px;
        position: relative;
        left: -5px;
        top: -2px;
        transform: rotate(-45deg);
      }

      &--open:after {
        top: 2px;
        transform: rotate(134deg);
      }
    }

    @media (max-width: 1041px) {
      display: none;
    }
  }

  @media (max-width: 680px) {
    margin-right: 50px;
  }

  @media (max-width: 950px) {
    margin: 0;
  }
}
