@import '../../../Scss/var';
@import '../../../Scss/mixins';

.found-article {
  height: 50px;
  background-color: $lightGray;
  border: 0.5px solid $gold;
  border-left: 2px solid $gold;
  border-right: 2px solid $gold;

  border-top: none;
  padding: 0 15px 0 0;
  transition: all 0.3s ease;

  &:hover {
    background-color: $gold;

    .found-article__title {
      color: $black;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 50px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $gold;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: left;

    @include mobile {
      font-size: 16px;
    }
  }

  @include mobile {
    height: 43px;
    font-size: 16px;
  }
}
